.heading--all-movies {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section--all-movies {
  background-color: rgb(51, 53, 55);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label--filter {
  margin-left: 20%;
}

h2 {
  display: flex;
  margin-right: 300px;
}

.input--filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}