.heading--all-movies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  h2 {
    display: flex;
    margin-right: 300px;
    color: white;
    font-size: 40px;
    margin: 24px 0;
  }
}

.section--all-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  .error {
    min-height: 65vh;
    color: white;
  }
}

.label--filter {
  margin-left: 20%;
}

.input--filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.text--error {
  color: white;
}