Header {
  font-family: "Rubik Distressed", cursive;
  color: #e0110a;
  font-size: 24px;
  background-color: #1a2129;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #282f37;
  text-decoration: none;
  & div {
    display: flex;
    align-items: center;
    & img {
      padding-left: 32px;
      display: flex;
      align-items: center;
      width: 128px;
    }
    & h1 {
      padding-left: 64px;
      text-decoration: none;
    } & a:visited {
        text-decoration: none;
        color: red;
    }
  }
}
