.single-page-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 800px;
  margin: auto;
  padding: 24px;
  p {
    color: white;
  }
  img {
    width: 17vw;
    margin-right: 60px;
  }

  h2 {
    color: white;
    font-size: 40px;
  }
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
}
.error-message-single {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.back-button {
  color: black;
  background-color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 12px;
  margin-top: 4px;
  padding: 4px 24px;
  width: fit-content;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
  }
}
